@model haySchool.Models.Sinav

@{
    ViewData["Title"] = "SinavEkle";
}


<hr />
<div class="form-group">
   
        <form asp-action="SinavEkle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                ID
                <input asp-for="sinav_id" class="form-control" />
                <span asp-validation-for="sinav_id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
               Ders ID
               @Html.DropDownListFor(x=>x.sinav_ders_id, (List<SelectListItem>)ViewBag.v6,new{@class="form-control"})
                <span asp-validation-for="sinav_ders_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                Sınıf ID
               @Html.DropDownListFor(x=>x.sinav_sinif_id, (List<SelectListItem>)ViewBag.v7,new{@class="form-control"})
                <span asp-validation-for="sinav_sinif_id" class="text-danger"></span>
            </div>
            <div class="form-group">
               Tarih
                <input asp-for="sinav_date" class="form-control" />
                <span asp-validation-for="sinav_date" class="text-danger"></span>
            </div>
               <div class="form-group">
               Öğretmen
               @Html.DropDownListFor(x=>x.sinav_ogretmen_id, (List<SelectListItem>)ViewBag.v10,new{@class="form-control"})
                <span asp-validation-for="sinav_ogretmen_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
