@model haySchool.Models.Etut

@{
    ViewData["Title"] = "EtutGuncelle";
}


<hr />
<div class="form-group">
 
        <form asp-action="EtutGuncelle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
              ID
                <input asp-for="etut_id" class="form-control" />
                <span asp-validation-for="etut_id" class="text-danger"></span>
            </div>
            <div class="form-group">
               Sınav
             @Html.DropDownListFor(x=>x.etut_sinav_id, (List<SelectListItem>)ViewBag.v10,new{@class="form-control"})
                <span asp-validation-for="etut_sinav_id" class="text-danger"></span>
            </div>
            <div class="form-group">
               Öğrenci
                 @Html.DropDownListFor(x=>x.etut_ogrenci_id, (List<SelectListItem>)ViewBag.v12,new{@class="form-control"})
                <span asp-validation-for="etut_ogrenci_id" class="text-danger"></span>
            </div>
            
            <div class="form-group">
              Ders
               @Html.DropDownListFor(x=>x.etut_ders_id, (List<SelectListItem>)ViewBag.v11,new{@class="form-control"})
                <span asp-validation-for="etut_ders_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
   
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
